@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.content {
  max-width: 1600px;
}

.header {
  position: relative;
  padding: 0 0 43% 0;
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header__list {
  margin: 0 auto;
  width: 40%;
  padding: 35px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header li {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
  z-index: 2;
}

.header li a {
  color: #4d4959;
}

.text__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text__title {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  padding: 35px 0 35px 0;
}

.text__info {
  width: 70%;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}

.text .conteiner {
  padding: 100px 0 120px 0;
}

.billboard__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.billboard__big-img {
  width: 66.6%;
  position: relative;
}

.billboard__big-img:hover .hover {
  opacity: 1;
  visibility: visible;
}

.billboard__big-img-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.billboard__big-img-logo {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.billboard__text {
  width: 33.3%;
}

.billboard__text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 600px;
}

.billboard__text-logo {
  margin: 40px 0 0 0;
}

.billboard__text-title {
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.billboard__text-info {
  width: 80%;
  font-family: Lato;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #848789;
}

.billboard__text-btmimg {
  position: relative;
  width: 100%;
  padding: 0 0 40% 0;
}

.billboard__seddle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.billboard-2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.billboard-2__big-img {
  width: 66.6%;
  position: relative;
}

.billboard-2__big-img:hover .hover {
  opacity: 1;
  visibility: visible;
}

.billboard-2__big-img-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.billboard-2__big-img-logo {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.billboard-2__text {
  width: 33.3%;
}

.billboard-2__text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 600px;
}

.billboard-2__text-logo {
  margin: 40px 0 0 0;
}

.billboard-2__text-title {
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.billboard-2__text-info {
  width: 80%;
  font-family: Lato;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #848789;
}

.billboard-2__text-btmimg {
  position: relative;
  width: 100%;
  padding: 0 0 40% 0;
}

.billboard-2__seddle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.billboard-3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.billboard-3__big-img {
  width: 33.3%;
  position: relative;
}

.billboard-3__big-img:hover .hover {
  opacity: 1;
  visibility: visible;
}

.billboard-3__big-img-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.billboard-3__big-img-logo {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.billboard-3__text {
  width: 33.3%;
}

.billboard-3__text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 600px;
}

.billboard-3__text-logo {
  margin: 40px 0 0 0;
}

.billboard-3__text-title {
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.billboard-3__text-info {
  width: 80%;
  font-family: Lato;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #848789;
}

.billboard-3__text-btmimg {
  position: relative;
  width: 100%;
  padding: 0 0 40% 0;
}

.billboard-3__seddle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.billboard-3__big-img-3 {
  width: 33.3%;
}

.text-slider__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-slider__title {
  font-weight: 300;
  color: #848789;
  padding: 35px 0 35px 0;
}

.text-slider__title a {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}

.text-slider__info {
  width: 70%;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

.text-slider .conteiner {
  padding: 100px 0 120px 0;
}

.gallery__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[6];
      grid-template: repeat(2, 1fr)/repeat(6, 1fr);
}

.gallery__img {
  position: relative;
  padding: 0 0 50% 0;
}

.gallery__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 0 10% 0;
  background-color: #282f35;
  position: relative;
}

.gallery__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20%;
  height: 30%;
  border: #fff solid 1px;
  color: #fff;
}

.gallery__button a {
  font-size: 100%;
  color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-1:hover .hover {
  opacity: 1;
  visibility: visible;
}

.img-2:hover .hover {
  opacity: 1;
  visibility: visible;
}

.img-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.img-3:hover .hover {
  opacity: 1;
  visibility: visible;
}

.img-4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.img-4:hover .hover {
  opacity: 1;
  visibility: visible;
}

.img-5 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.img-5:hover .hover {
  opacity: 1;
  visibility: visible;
}

.img-6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.img-6:hover .hover {
  opacity: 1;
  visibility: visible;
}

.img-7:hover .hover {
  opacity: 1;
  visibility: visible;
}

.img-8:hover .hover {
  opacity: 1;
  visibility: visible;
}

.hover {
  color: #fff;
  background-color: rgba(97, 169, 143, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.hover__logo img {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
}

.hover p {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin: 10px 0 0 0;
}

.form__title {
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  text-transform: none;
  letter-spacing: normal;
}

.form__email {
  width: 400px;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
  padding: 0 0 0 20px;
}

.form__button {
  width: 126px;
  height: 69px;
  background-color: #64c29e;
  font-family: Lato;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}

.footer {
  position: relative;
  padding: 0 0 15% 0;
  background-color: #f7f7f7;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__copy {
  width: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text p:first-child {
  font-family: Lato;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789;
}

.footer__text p {
  font-family: Lato;
  line-height: 17px;
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

.footer__icon {
  width: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icon img {
  margin: 0 8px 0 8px;
}

.footer__signature {
  width: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__signature p {
  font-family: Lato;
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  padding: 0 10px 0 0;
}
