@import "nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

.wrapper {}

.content {
	max-width: 1600px;
}

.header {
	position: relative;
	padding: 0 0 43% 0;


	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	// .header__menu

	&__menu {}

	// .header__list

	&__list {
		margin: 0 auto;
		width: 40%;
		padding: 35px 0 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	li {
		font-family: Lato;
		font-size: 13px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #4d4959;
		z-index: 2;
	}

	li a {
		color: #4d4959;
	}
}

.conteiner {}

.text {

	// .text__row

	&__row {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	// .text__img

	&__img {}

	// .text__title

	&__title {
		font-family: Lato;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #353738;
		padding: 35px 0 35px 0;
	}

	// .text__info

	&__info {
		width: 70%;
		text-align: center;
		font-family: Lato;
		font-size: 18px;
		line-height: 34px;
		font-weight: 400;
		color: #848789;
	}
}

.text .conteiner {
	padding: 100px 0 120px 0;
}

.billboard {
	// .billboard__row

	&__row {
		display: flex;
	}

	// .billboard__big-img
	&__big-img {
		width: 66.6%;
		position: relative;
	}

	&__big-img:hover {
		.hover {
			opacity: 1;
			visibility: visible;
		}
	}

	&__big-img-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__big-img-logo {
		position: relative;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%);
	}

	// .billboard__text

	&__text {
		width: 33.3%;
	}


	// .billboard__text-row

	&__text-row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height: 600px;
	}


	// .billboard__text-logo

	&__text-logo {
		margin: 40px 0 0 0;
	}

	// .billboard__text-title

	&__text-title {
		text-align: center;
		font-family: Lato;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #353738;
	}

	// .billboard__text-info

	&__text-info {
		width: 80%;
		font-family: Lato;
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color: #848789;
	}

	// .billboard__text-line

	&__text-line {}

	// .billboard__text-btmimg

	&__text-btmimg {
		position: relative;
		width: 100%;
		padding: 0 0 40% 0;
	}

	&__seddle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


.billboard-2 {
	// .billboard__row

	&__row {
		display: flex;
		flex-direction: row-reverse;
	}

	// .billboard__big-img
	&__big-img {
		width: 66.6%;
		position: relative;
	}

	&__big-img:hover {
		.hover {
			opacity: 1;
			visibility: visible;
		}
	}

	&__big-img-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__big-img-logo {
		position: relative;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%);
	}

	// .billboard__text

	&__text {
		width: 33.3%;
	}


	// .billboard__text-row

	&__text-row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height: 600px;
	}


	// .billboard__text-logo

	&__text-logo {
		margin: 40px 0 0 0;
	}

	// .billboard__text-title

	&__text-title {
		text-align: center;
		font-family: Lato;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #353738;
	}

	// .billboard__text-info

	&__text-info {
		width: 80%;
		font-family: Lato;
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color: #848789;
	}

	// .billboard__text-line

	&__text-line {}

	// .billboard__text-btmimg

	&__text-btmimg {
		position: relative;
		width: 100%;
		padding: 0 0 40% 0;
	}

	&__seddle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

}


.billboard-3 {


	&__row {
		display: flex;
	}


	&__big-img {
		width: 33.3%;
		position: relative;
	}

	&__big-img:hover {
		.hover {
			opacity: 1;
			visibility: visible;
		}
	}

	&__big-img-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__big-img-logo {
		position: relative;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%);
	}



	&__text {
		width: 33.3%;
	}

	&__text-row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height: 600px;
	}


	&__text-logo {
		margin: 40px 0 0 0;
	}


	&__text-title {
		text-align: center;
		font-family: Lato;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #353738;
	}


	&__text-info {
		width: 80%;
		font-family: Lato;
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color: #848789;
	}


	&__text-line {}


	&__text-btmimg {
		position: relative;
		width: 100%;
		padding: 0 0 40% 0;
	}

	&__seddle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__big-img-3 {
		width: 33.3%;
	}
}




.text-slider {

	// .text-slider__row

	&__row {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .text-slider__img

	&__img {}

	// .text-slider__title

	&__title {
		font-weight: 300;
		color: #848789;
		padding: 35px 0 35px 0;
	}

	&__title a {
		font-family: Lato;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		letter-spacing: 0.1em;
		color: #353738;
	}

	// .text-slider__info

	&__info {
		width: 70%;
		text-align: center;
		font-family: Lato;
		font-size: 24px;
		line-height: 34px;
		font-weight: 400;
		font-style: italic;
		color: #848789;
	}
}

.text-slider .conteiner {
	padding: 100px 0 120px 0;
}

.gallery {

	// .gallery__content

	&__content {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(6, 1fr);

	}

	// .gallery__img

	&__img {
		position: relative;
		padding: 0 0 50% 0;
	}

	&__img img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}



	// .gallery__footer

	&__footer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 0 0 10% 0;
		background-color: #282f35;
		position: relative;
	}

	// .gallery__button

	&__button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20%;
		height: 30%;
		border: #fff solid 1px;
		color: #fff;
	}

	&__button a {
		font-size: 100%;
		color: #fff;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}


}

.img-1 {}

.img-1:hover {
	.hover {
		opacity: 1;
		visibility: visible;
	}
}

.img-2 {}

.img-2:hover {
	.hover {
		opacity: 1;
		visibility: visible;
	}
}

.img-3 {
	grid-column: 1/3;
	grid-row: 2/3;
}

.img-3:hover {
	.hover {
		opacity: 1;
		visibility: visible;
	}
}

.img-4 {
	grid-column: 3/4;
	grid-row: 1/3;
}

.img-4:hover {
	.hover {
		opacity: 1;
		visibility: visible;
	}
}

.img-5 {
	grid-column: 4/5;
	grid-row: 1/3;
}

.img-5:hover {
	.hover {
		opacity: 1;
		visibility: visible;
	}
}

.img-6 {
	grid-column: 5/7;
	grid-row: 1/2;
}

.img-6:hover {
	.hover {
		opacity: 1;
		visibility: visible;
	}
}

.img-7 {}

.img-7:hover {
	.hover {
		opacity: 1;
		visibility: visible;
	}
}

.img-8 {}

.img-8:hover {
	.hover {
		opacity: 1;
		visibility: visible;
	}
}

.hover {
	color: #fff;
	background-color: rgba(97, 169, 143, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s linear;

	&__logo img {
		position: relative;
		top: 0;
		left: 0;
		z-index: 5;
	}

	p {
		font-family: Lato;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		margin: 10px 0 0 0;
	}
}

.form__title {
	font-family: Lato;
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
	text-transform: none;
	letter-spacing: normal;
}

.form {

	// .form__area

	&__area {}

	// .form__email

	&__email {
		width: 400px;
		height: 69px;
		background-color: #ffffff;
		border: 1px solid #d3d7d9;
		font-family: Lato;
		font-size: 20px;
		line-height: 24px;
		font-weight: 400;
		font-style: italic;
		color: #929292;
		padding: 0 0 0 20px;
	}

	// .form__button

	&__button {
		width: 126px;
		height: 69px;
		background-color: #64c29e;
		font-family: Lato;
		font-size: 24px;
		line-height: 24px;
		font-weight: 300;
		color: #ffffff;
	}
}

.footer {
	position: relative;
	padding: 0 0 15% 0;
	background-color: #f7f7f7;
	// .footer__row

	&__row {
		display: flex;
		justify-content: space-around;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

	}

	// .footer__copy

	&__copy {
		width: 33.333%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__text p:first-child {
		font-family: Lato;
		font-size: 16px;
		line-height: 17px;
		font-weight: 700;
		color: #848789;
	}

	&__text p {
		font-family: Lato;
		line-height: 17px;
		font-size: 13.9px;
		font-weight: 400;
		font-style: italic;
		color: #848789;
	}

	// .footer__icon

	&__icon {
		width: 33.333%;
		display: flex;
		align-items: center;
		justify-content: center;

	}

	&__icon img {
		margin: 0 8px 0 8px;
	}

	// .footer__signature

	&__signature {
		width: 33.333%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__signature p {
		font-family: Lato;
		font-size: 13.9px;
		line-height: 17px;
		font-weight: 400;
		font-style: italic;
		color: #848789;
		padding: 0 10px 0 0;
	}
}

.conteiner {}